# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env/
env/
.venv/

# =========================
# ENV FILES (IMPORTANT)
# =========================
.env

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# NODE (for frontend later)
# =========================
node_modules/
dist/
build/

# =========================
# FAISS / ML FILES
# =========================
faiss_index/
*.index
*.bin

# =========================
# CACHE
# =========================
.cache/
.gemini/