fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
alembic
psycopg2-binary
python-multipart
jose
passlib
bcrypt
email-validator
sentence-transformers
faiss-cpu
numpy
google-generativeai
